---
import { AVATAR_URL } from "../static";
---

<!-- Navbar -->
<nav
  class="z-50 bg-[#141414] border-white/10 border-b h-[80px] w-full fixed top-0"
>
  <div
    class="h-full px-4 sm:px-0 max-w-screen-lg mx-auto flex justify-between items-center"
  >
    <a href="/" class="flex items-center gap-4">
      <img
        src={AVATAR_URL}
        height="35"
        width="35"
        alt="Profile Picture"
        class="size-[35px] rounded-full"
      />
      <p class="font-bold text-white hidden sm:block">Farhan Fadila</p>
    </a>
    <ul class="flex space-x-8 text-white text-sm">
      <li>
        <a href="#about" class="">About</a>
      </li>
      <li>
        <a href="#projects" class="">Projects</a>
      </li>
      <li>
        <a href="#contact" class="">Contact</a>
      </li>
    </ul>
  </div>
</nav>
